--Tạo database
create database Shopping

Alter table product
add foreign key (categoryid) references Category(id)
--Tạo bảng Category
create table Category (
	id INT,
	name VARCHAR(50)
);
insert into Category (id, name) values (1, 'Giường');
insert into Category (id, name) values (2, 'Tu quan ao');
insert into Category (id, name) values (3, 'Ban trang diem');

--Tạo bảng Product
create table Product (
	id INT,
	name VARCHAR(50),
	quantity INT,
	price DECIMAL(4,1),
	description VARCHAR(50),
	imageUrl VARCHAR(50),
	create_date DATE,
	Categoryid INT
);

--Giường
insert into Product (id, name, quantity, price, description, imageUrl, create_date, Categoryid) values (2, 'abc', 20, 7.800, 'Abrasion, unspecified ankle', 'E:\Github\JAVA\[PRJ301]\AssignPRJ\image\giuong1.jpg', '2021-03-05', 1);
insert into Product (id, name, quantity, price, description, imageUrl, create_date, Categoryid) values (1, 'Giường ngủ bệt', 69, 34, 'Serous choroidal detachment, right eye', 'E:\Github\JAVA\[PRJ301]\AssignPRJ\image\giuong2.jpg', '2021-07-17', 1);
insert into Product (id, name, quantity, price, description, imageUrl, create_date, Categoryid) values (3, 'Giường Nhật bằng gỗ thiết kế tiện lợi', 69, 22, 'abc', 'E:\Github\JAVA\[PRJ301]\AssignPRJ\image\giuong3.jpg', '2021-05-25', 1);

--Tủ quần áo

--Bàn Trang Điểm

--Tủ Giày

--Kệ TV

--Bàn Sofa

--Ghế Sofa
--Bàn làm việc
--Kệ sách
--Ghế làm việc

create table account
(
	id int IDENTITY(1,1) primary key,
	username varchar(50),
	password varchar(50),
	displayname nvarchar(50),
	address nvarchar(50),
	email nvarchar(50),
	phone nvarchar(50)
)
drop table a
create table Shipping
(
	id int IDENTITY(1,1) primary key,
	name nvarchar(50),
	phone nvarchar(50),
	address nvarchar(50)
)
create table orders
(
	id int IDENTITY(1,1) primary key,
	account_id int,
	totalPrice float,
	note nvarchar(50),
	create_date date,
	shipping_id int,
	
)
create table Detail
(
	id int IDENTITY(1,1) primary key,
	order_id int,
	productname nvarchar(50),
	productimage nvarchar(50),
	productPrice float,
	quantity int,
)